:root {
    --bg-color: #FFFCF3;
    --main-text-color: #4A4A4A;
    --main-color: #BFD8BD;
    --secondary-color: #A7C7E7;
    --secondary-color-light: #bcd2e9;
    font-size: 16px;
    font-family: 'Baloo 2', sans-serif;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.main-bg {
    background-color: var(--bg-color);
    color: var(--main-text-color);

    /* Cuadricula */
    background-image:  
    linear-gradient(to right, rgba(230, 230, 230, 0.5) 1px, transparent 1px),  
    linear-gradient(to bottom, rgba(230, 230, 230, 0.5) 1px, transparent 1px);
    background-size: 20px 20px; /* Tamaño de las celdas */
}

.main {
    width: 90%;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 768px;
}

@media screen and (width > 768px) {
    .main {
        max-width: 1440px;
        width: 70%;
    }
}

p {
    margin: 0;
    margin-bottom: 1rem;
}

section {
    margin-top: 3rem;
}

li {
    text-align: center;
    padding: 10px 0;
    list-style: none;
}

.heading-2 {
    font-size: 25px;
    font-weight: 800;
    color: var(--secondary-color);
    margin: 0;
    margin-bottom: 1rem;
    
    &.h-contact {
        margin-bottom: 1em;
    }
}

figcaption {
    color: var(--main-text-color);
}
