:root {
    --bg-color: #FAF3E0;
    --main-text-color: black;
    --main-color: #3D1B7C;
    --main-color-light: #5D3FD3;
    --secondary-color: #E6B800;
    font-size: 16px;
    font-family: 'Akatab', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.main-bg {
    background-color: var(--bg-color);
    color: var(--main-text-color);
}