:root {
    --bg-color: #FFFCF3;
    --main-text-color: #4A4A4A;
    --main-color: #BFD8BD;
    --secondary-color: #A7C7E7;
    --secondary-color-light: #bcd2e9;
    font-size: 16px;
    font-family: 'Baloo 2', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.main-bg {
    background-color: var(--bg-color);
    color: var(--main-text-color);
}

p {
    margin: 0;
    margin-bottom: 2rem;
}