.footer {
    padding: 1em;
    background-color: var(--main-color);
    margin-top: 2rem;
    width: 100%;
}

.footer .social-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.footer .social-icons .social {
    width: 10%;
    height: auto;
    margin: auto 3vw;
}