.info {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    max-width: 768px;
}

.presentation {
    margin-bottom: 2rem;
}

.heading-2 {
    font-size: 25px;
    font-weight: 800;
    color: var(--secondary-color);
    margin: 0;
    margin-bottom: 1rem;
}