.header {
    position: sticky;
    top: 0;
    background-color: var(--secondary-color);
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;

    .logo {
        width: 50%;
        max-width: 150px;
        min-width: 100px;
    }

    .nav {
        position: relative;

        /*Para ocultar el checkbox*/
        #menu-btn {
            display: none;
        }
        
        /*Diseño menu hamburguesa*/
        .burguer-btn {
            display: flex;
            flex-direction: column;
            cursor: pointer;
            gap: 5px;
        }
        
        .burguer-btn span {
            width: 30px;
            height: 4px;
            background: var(--main-color);
            transition: 0.3s;
        }

        /* Menu que se oculta por defecto en moviles */
        .menu {
            display: none;
            flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: var(--secondary-color);
        width: 100%;
        padding: 10px;
        }

        .menu li {
            text-align: center;
        padding: 10px 0;
        list-style: none;
        }

        .btn {
            color: white;
            text-decoration: none;
            font-size: 18px;
        }
    }
}


