.header {
    position: sticky;
    top: 0;
    background-color: var(--main-color);
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-bottom: 1rem;

    .logo {
        width: 50%;
        max-width: 250px;
        min-width: 200px;
    }

    .nav {
        /*Para ocultar el checkbox*/
        #menu-btn {
            display: none;
        }
        
        /*Diseño menu hamburguesa*/
        .burguer-btn {
            display: flex;
            flex-direction: column;
            cursor: pointer;
            gap: 5px;
        }
        
        .burguer-btn span {
            width: 30px;
            height: 4px;
            background: var(--main-text-color);
            border-radius: 2px;
        }

        /* Menu que se oculta por defecto en moviles */
        .menu {
            opacity: 0;
            flex-direction: column;
            position: absolute;
            right: 0;
            top: 99%;
            margin: 0;
            background: var(--main-color);
            width: 50vw;
            padding: 10px;
            border-bottom-left-radius: 4px;
            transform: translateY(-10px);
            transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
            pointer-events: none;
        }

        .menu li {
            text-align: center;
            padding: 10px 0;
            list-style: none;
        }

        .btn {
            color: white;
            text-decoration: none;
            font-size: 18px;
        }

        #menu-btn:checked + .burguer-btn + .menu {
            display: flex;
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto
        }
    }
}


