.mis-proyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .shrek {    
        iframe {
            width: 100%;
            height: 315px;
            animation: fadein 1.5s linear;
        }
    }
    
    .proyect-section {
        .proyects-list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
    
            figure {
                margin: 0;
    
                img {
                    width: 100%;
                }
            }
        }
    }
}


@media (width > 768px) {
    .mis-proyectos .proyect-section .proyects-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .mis-proyectos .shrek iframe {
        height: 400px;

    }
}

@media screen and (prefers-reduced-motion: no-preference) {
    @keyframes fadein {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}


